/frontend/node_modules/
/backend/node_modules/
/Terraform/.terraform/
/Terraform/access-keys.csv
/Terraform/provider.tf
/Terraform/ec2/ssh-keypairs/
/Terraform/terraform.tfstate
/Terraform/terraform.tfstate.backup
/Terraform/.terraform.lock.hcl